.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 450px;
  background-image: url("https://i.pinimg.com/originals/3d/0f/d8/3d0fd842be0ccdaf97d960312c7b34e6.gif");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  max-width: 450px;
  padding: 10px;
}

footer {
  color: #4792a8;
  display: block;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: bottom;
}
